body{
  font-family: "Asta Sans", sans-serif !important;
  color:black !important;  

}   

/* bootstrap의 container */
.container{
    padding: 50px 5%; /* 위아래 0, 좌우 5% */
  }

/* Navigation **********************************************************************************/

/* 네비게이션 */  
.navbar{
  background: white;
  padding: 0 !important;
  margin: 0 !important;
  height: 70px !important;
  font-family: Noto-latin;
  font-weight: 700;
  font-size: 14px;
  color:black !important;
}

/* 모바일용 서브메뉴가 안보이게 */
#collapsibleNavbar-m{ opacity: 0 !important;}

/* 문서 배경색 */
body{background: #eeeeee;}

#collapsibleNavbar .nav-item{padding:10px 15px;}

#collapsibleNavbar .nav-link,
#collapsibleNavbar .dropdown-item{
  color:black !important;
}
#collapsibleNavbar .dropdown-item{
  font-size: 13px;
}

/* 1depth에 마우스가 올라갔을 때 2depth(서브메뉴)가 나오게 */
#collapsibleNavbar .nav-item:hover .dropdown-menu {
  display: block;
  margin-top: 12px;
  border: none;
  border-radius: 0;
}

#collapsibleNavbar .nav-item:hover span{
  padding-bottom: 10px;
  border-bottom: 3px solid black !important;
}

/* .dropdown-toggle의 뒷부분을 찾아서 border를 0 */
#collapsibleNavbar .nav-item .dropdown-toggle::after{
  border:0 !important; 
}
/* 화살표가 회전하는 애니메이션 적용 */
#collapsibleNavbar .nav-item:hover i{
  animation: ani01 0.5s ease-in-out forwards !important;
  
  /* animation-name: ani01; */
  /* animation-duration: 0.5s; */
  /* animation-timing-function: ease-in-out; */
  
  /* 애니메이션 종료후 마지막 상태(last frame) 유지. 원래 상태로 돌아가지 않음. */
  /* animation-fill-mode: forwards;   */
  
}

/* animation 정의. 이름은 ani01 */
@keyframes ani01 {
  0%{transform: rotate(0deg);} /* 처음 상태 */
  100%{transform: rotate(90deg);} /* 마지막 상태 */
  
}


/* slider *************************************************************************************************************************/

/* pc용 slider 이미지는 보이고, 모바일용 slider 이미지는 안보이게 */
.slider-pc{display: block !important;}  
.slider-m{display: none !important;}  

/* slider container 설정 */
.slider-container { 
  max-width: 1400px; /* 최대 1400px 이하 */
  height: 570px !important;
  margin: 50px auto; /* 가로방향으로 가운데 정렬 */
}

/* 부모를 기준으로 자식의 위치를 설정하기 위해서 */
.slide{
  position: relative; /* 부모의 position 설정 */
}

/* 자식 position:absolute 설정. */
.slide .caption, 
.slide .more{
  position: absolute; /*  grouping */
}
/* 부모를 기준으로 위치 지정 */
.slide .caption{
  left: 70px;
  top:200px;
  color: white;
}
/* 부모를 기준으로 위치 지정 */
.slide .more{
  left: 70px;
  top:320px;
}
/* 슬라이드 간 간격 */
.slider .slide {
  margin: 0 10px; /* 상하 0, 좌우 10px */
}
/* 슬라이드 이미지 설정 */
.slider .slide img {
  width: 100%;
  height: 570px;
  border-radius: 10px; /* 모서리를 둥글게 */
}
/* 버튼 설정. .btn은 bootstrap에 있는 클래스명 */
.slider .slide .btn{
  background-color: white;
  color: black;
  font-weight: bold;
  padding-left: 120px;
  padding-right: 120px;
  border:none;
  border-radius: 50px;
}

/* 스마트폰 화면에서 Slick Slider Dots 설정 */

#slider .slick-dots,
#month-pick .slick-dots {
  position: absolute !important;
  bottom: -100px !important;
  width: 100% !important;
  text-align: center !important;
  z-index: 9999 !important;
  opacity: 1 !important;
  display: block !important;
  pointer-events: auto !important;
  color:black !important;
  font-size:50px !important;
}

.slick-dots li button:before {
  font-size: 14px !important;
  color: #7c7878 !important;
  opacity: 1 !important;
}

.slick-dots li button {
    font-size: 14px  !important;
    line-height: 0;
    display: block;
    width: 50px !important;
    height:50px !important;
    padding: 15px !important;
    cursor: pointer;
    outline: none;

}

.slick-dots li.slick-active button:before {
  color: black !important;
  opacity: 1 !important;
}


/* 이달의 pick ****************************************************************/

#month-pick{
  padding:50px 170px !important;
  position: relative !important;
}
#month-pick h1{
   font-weight: 1000;
   font-size: 35px;
   color: black;

}
#month-pick .thumbnail{
  border-radius: 10px !important;
  background: white;
}
#month-pick .thumbnail img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 300px;
}
#month-pick .thumbnail p,
#month-pick .thumbnail .btn{
  padding: 20px;
}
#month-pick .thumbnail .btn{
  width:100%;
  text-align: left !important;
  text-decoration: underline;
}


/* story ***************************************************************************/

/* 부모박스에 이미지를 딱 맞추기 위해 */
#story .col-md-6 img,
#tomorrow .col-md-6 img{
  width:100%;
  height: 100%;
}
/* 디버깅용. 배경을 파란색으로 설정해서 파악하기 쉽게 */
#story{
  /* background: blue; */
}
/* 박스 설정 */
#story .col-md-6,
#tomorrow .col-md-6
{
  border-radius: 10px !important;
  background: white;
  height:500px !important;
  padding:0; /* 안쪽 여백 없애기. 이미지가 부모에 딱맞게 하기 위해 */
  
}
/* 박스안의 이미지 설정. 부모 박스와 딱 맞게 설정 */
#story .col-md-6 img,
#tomorrow .col-md-6 img
{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* flex사용. .row는 container(부모)역할. */
/* 부모(컨테이너)를 기준으로 자식(아이템)의 위치를 일괄 지정 */
#tomorrow .row,
#story .row{
  display: flex !important; /* container에 display:flex 설정*/
  align-items: center !important;/* container기준으로 자식(item)을 세로 가운데 설정 */
  /* background: green; */
  height: 600px !important;
  
}
/* 자식(아이템) 개별적으로 위치 설정 */
#story .col-md-6:nth-child(1){
  align-self: flex-start !important; /* 부모의 세로 위쪽에 맞춤 */    
  padding: 50px;
}
/* 자식(아이템) 개별적으로 위치 설정 */
#story .col-md-6:nth-child(2){
  align-self:flex-end !important; /* 부모의 세로 아래에 맞춤 */    
}
/* 자식(아이템) 개별적으로 위치 설정 */
#tomorrow .col-md-6:nth-child(1){
  align-self: flex-end !important;     /* 부모의 세로 아래에 맞춤 */  
}
/* 자식(아이템) 개별적으로 위치 설정 */
#tomorrow .col-md-6:nth-child(2){
  align-self:flex-start !important; /* 부모의 세로 위쪽에 맞춤 */  
  padding: 50px
}
/* 첫번째박스를 기준으로 두번째 박스가 겹쳐지도록 */
#tomorrow .col-md-6:nth-child(1),
#story .col-md-6:nth-child(1){
  margin-right: -100px !important; /* 왼쪽박스를 기준으로 오른쪽박스를 왼쪽으로 이동해서 겹치게 */
}
/* 1번박스가 2번박스보다 위로 오도록 설정 */
#story .col-md-6:nth-child(1){
  z-index: 999;
}
/* 이미지박스의 크기를 더 크게 설정 */
#story .col-md-6:nth-child(2),
#tomorrow .col-md-6:nth-child(1){
  width:670px;
}
#story .col-md-6:nth-child(1) .btn,
#tomorrow .col-md-6:nth-child(2) .btn{
  margin-top:250px;
  border:2px solid black;
  border-radius: 50px;
  padding: 5px 120px;
}


/* brand ***********************************************************************************/

/* pc용 brand와 mobile용 brand를 만들어서 교체하는 방식으로 구현 */
#brand{display: block;width:900px} /* pc용 brand는 보이게*/
#brand-m{display: none;} /* mobile용 brand는 안보이게 */
/* 박스 설정 */
#brand .col-md-4{
  margin: 10px auto !important;
  background: white;
  box-sizing: border-box; /* width안에 padding과 border를 포함 */
  margin: 10px;
  transition: 0.5s; /* 0.5초동안 애니메이션(transition) 효과*/
  width:230px;
  height: 230px;
  border-radius: 10px !important;

  display: flex;
  align-items: center;        /* 세로 가운데 정렬 */

}
/* 박스에 이미지 딱 맞추기 */
#brand .col-md-4 img{
  width: 100%;  
}
/* 박스에 마우스가 올라갔을 때 확대 */
#brand .col-md-4:hover{
  transform: scale(1.05); /* 1.5배 확대 */
}
#brand  .btn{
  border:2px solid black;
  border-radius: 50px;
  padding: 5px 120px;
  margin-top: 20px;
}


/* footer ***************************************************************************************/

/* pc용 footer 내용과 mobile용 footer 내용을 미리 만들어 두고 교체방식으로 구현 */
#footer-pc{
  display: block; /* pc용 보이게 */
  line-height: 40px !important;
}
#footer-m{
  display: none; /* 모바일용 안보이게 */
}

#footer-pc hr{  
    opacity: 1;
    border-top: 1px solid white;
}

/* 배경색 설정*/
#footer-pc h6{font-size: 10px;}
footer ul{list-style: none;padding-left: 0;}
footer.container-fluid{
  background: black !important;
  color: white !important;
}

#footer-pc .fa-brands{
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  line-height: 26px;
  float:right;
  margin:5px;
}

#footer-pc .btn{
  float:right;color:white;border:2px solid white;border-radius: 50px;padding:5px 15px;
}



